<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->

{% extends 'base/principal.html' %}

{% block content %}
<div class='barra-superior'>
    <div>
        <h1>Hola {{request.user|title}}</h1>
        <h3 style='margin:0'>Tienes <i>{{count}}</i> tarea{{count|pluralize}} incompleta{{count|pluralize}}</h3>
    </div>
        {% if request.user.is_authenticated %}
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Salir</button>
            </form>
        {%else%}
            <a href='/login'>Ingresar</a>
        {% endif %}
</div>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% if request.user.is_authenticated %}
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
             
            <p>{{request.user}}</p> <!-- request es una variable global en los sitios Django para sus plantillas -->
            {% comment %} <a href="{% url 'logout'%}">Salir</a> {% endcomment %}
            {% comment %} Al usar la clase LogoutView en urls.py y no la función logout de Django, se necesita de un formulario con método POST {% endcomment %}
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Salir</button>
            </form>
        {%else%}
            <a href='/login'>Ingresar</a>
        {% endif %}
        <hr>

        <h1>Lista de Pendientes {{ciudad}}</h1>
        <a href='/crear-tarea'>Crear Nueva Tarea</a>

        <form method="GET">
            <input type="text" name="area-buscar" value="{{valor_buscado}}">
            <input type="submit" value="Buscar">
        </form>

        <table> 
            <tr>
                <th> Elementos </th>
                <th></th>
                <th></th>
            </tr>
            <!--  for tarea in object_list Por default object_list viene de views.py (clase ListaPendientes) referenciada en urls.py as_view pero podemos cambiarle el nombre--> 
            {% for tarea in tareas %}  
                <tr> 
                    <td> {{tarea.titulo}} </td> 
                    <td><a href="/editar-tarea/{{tarea.id}}">Editar</a></td>
                    <td><a href="/eliminar-tarea/{{tarea.id}}">Eliminar</a></td>
                </tr>
                {% empty %}
                <h3> No hay elementos en la lista </h3>

            {% endfor %} 

        </table>
        <script src="" async defer></script>
    </body>
</html>
{% endblock content %}


